# Node / Next
node_modules/
.next/
.turbo/
.vercel/

# Env
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Process IDs
*.pid
.dev_pid
.dev_*_pid

# TypeScript
tsconfig.tsbuildinfo

# MacOS
.DS_Store

# SQLite
data/*.sqlite*
*.db
.vercel
